body {
    background-color: green;
    color: yellow;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 2px;
    padding: 2px;
    height: 80vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}


.calculadora {
    background-color: blue;
    padding: 80px;
    border-radius: 25px;
    margin: 50px auto;
    width: 500px;
}
input, select, button {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: black;
    width: 80px;
}
button:hover {
    background-color: yellow;
    cursor: pointer;
}
input[type="text"] {
    width: 80px;
    text-align: center;
}
.history {
    text-align: center;
    margin-top: 5px;
}